.css-grid-for-contact {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 60px);

    @media only screen and (max-width: 480px) {
        grid-gap: 10px;
        grid-template-rows: repeat(8, 60px);
    }
}


.layout-form {

    &__first-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        border: 2px solid #eeeeee;
        outline: none;
        font-size: 18px;
        font-family: "Play",sans-serif;
        font-weight: 400;
        padding-left: 10px;


        @media only screen and (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
        }
    }

    &__last-name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        border: 2px solid #eeeeee;
        outline: none;
        font-size: 18px;
        font-family: "Play",sans-serif;
        font-weight: 400;
        padding-left: 10px;

        @media only screen and (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 2 / 2;
        }
    }

    &__email {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        border: 2px solid #eeeeee;
        outline: none;
        font-size: 18px;
        font-family: "Play",sans-serif;
        font-weight: 400;
        padding-left: 10px;

        @media only screen and (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 3;
        }
    }

    &__website {
        grid-column: 2 / 3;
        grid-row: 2 / 3;

        border: 2px solid #eeeeee;
        outline: none;
        font-size: 18px;
        font-family: "Play",sans-serif;
        font-weight: 400;
        padding-left: 10px;

        @media only screen and (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 4;
        }
    }
    
    &__message-textarea {
        grid-column: 1 / 3;
        grid-row: 3 / 6;

        border: 2px solid #eeeeee;
        outline: none;
        font-size: 18px;
        font-family: "Play",sans-serif;
        font-weight: 400;
        padding-top: 10px;
        padding-left: 10px;
        resize: none;

        @media only screen and (max-width: 480px) {
            grid-column: 1 / 3;
            grid-row: 5 / 9;
        }
    }
}
