.layout-form {
    &__contact-name {
        padding-left: 10px;
        font-size: 18px;
        height: 45px;
        outline: none;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border: 2px solid #eeeeee;
    }
}
.layout-form-message {

    &__message-textarea {
        padding-left: 10px;
        font-size: 18px;
        outline: none;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        height: 200px;
        resize: none;
        border: 2px solid #eeeeee;
    }
}
