.footer-background {
    background-color: #1b1b1b;
}

.about-us-part {
    text-align: left;
    padding-left: 15px;

    &__head {
        margin-bottom: 10px;
    }

    &__par {
        color: #ffffff !important;
    }
}
.related-part {
    text-align: left;
    padding-left: 15px;

    &__head {
        margin-bottom: 10px;
    }

    &__list {
        color: #ffffff !important;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        list-style-type: none;
    }
}
.newmedia-part {
    text-align: left;
    padding-left: 15px;

    &__head {
        margin-bottom: 10px;
    }

    &__list {
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        list-style-type: none;
    }
}
.getintouch-part {
    text-align: left;
    padding-left: 15px;

    &__head {
        margin-bottom: 10px;
    }

    &__par {
        color: #ffffff !important;
        margin-bottom: 10px;
    }

    &__icons {
        color: #22a7f0;
        margin-right: 5px;
    }
}
.getintouch-part p {
    color: #ffffff;
}