.recent-section {

    &__grid-pic {
        max-width: 370px;
        max-height: 270px;
        padding-top: 15px;
        padding-right: 15px;
    }  
}
.breadcrumbs {
    text-align: right;
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 20px;
}
.breadcrumbs li {
    font-size: 18px;
    display: inline;
}
.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
.breadcrumbs li a:hover {
    border-bottom: 2px solid #22a7f0;
}
