.recent-section {

    &__grid-pic {
        max-width: 370px;
        max-height: 270px;
        padding-top: 15px;
        padding-right: 15px;
    }  
}
.column {
    float: left;
    width: 32.8%;
    display: none; 
    padding: 8px;
}
.content {
    background-color: white;
    padding: 5px;
}
.show {
    display: block;
}
.btn {
    border: none;
    outline: none;
    padding: 5px 5px;
    background-color: white;
    cursor: pointer;
    font-size: 24px;
    color: #4b4b4b;
}
.btn.active {
    border-bottom: 2px solid #22a7f0;
}