.alining-text {
    text-align: left;
    font-size: 34px;
}
.alining-text::after {
    content: ""; 
    display: block;
    background-color: #22a7f0;
    width: 70px;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.building-imgs {
    width: 340px;
}
.pagination {
    display: inline;
}
.pagination a {
    color: #ffffff;
    background-color: #22a7f0;
    font-size: 25px;
    padding: 0px 10px;
    text-decoration: none;
    border: none;
}

.pagination a:hover {
    background-color: #1e90ff;
}

.small-arrows {
    text-align: right;
    margin-right: 15px;
}

.client-numbers {
    background-image: linear-gradient(rgba(34, 167, 240, 0.5), rgba(34, 167, 240, 0.5)), url(../img/building/building-img-5.jpg);
    background-position: bottom;
    background-size: cover;

    &__client-numb {
        font-size: 48px;
        color: #ffffff;
        font-weight: 700;
    }

    &__client-numb::after {
        content: ""; 
        display: block;
        background-color: #ffffff;
        width: 30px;
        height: 2px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__client-sub {
        font-size: 26px;
        color: #ffffff;
        text-transform: uppercase;
    }
}
