//////////WE CARE SECTION//////////////
.section-wecare {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/home.jpg);
    height: 700px;
    background-position: top;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.we-care-text {

    &__main-heading {
        font-size: 53px;
    }
    &__text-paragraph {
        color: #ffffff;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 20px;
    }
}
.arrowheads {

    &__arrow-right {
        font-size: 50px;
        padding: 3px 24px;
        //line-height: 50px;
        //height: 60px;
        border: 1px solid #ffffff;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: transparent;
        outline: none;
        -webkit-transition: .2s;
        transition: .2s;
        position: absolute;
        right: 30px;
    }
    &__arrow-left {
        font-size: 50px;
        padding: 3px 24px;
        //line-height: 50px;
        //height: 60px;
        border: 1px solid #ffffff;
        cursor: pointer;
        color: rgb(255, 255, 255);
        background: transparent;
        outline: none;
        -webkit-transition: .2s;
        transition: .2s;
        position: absolute;
        left: 30px;
    }

    &__arrow-right:hover {
        background-color: #ffffff;
        color: #22a7f0;
    }

    &__arrow-left:hover {
        background-color: #ffffff;
        color: #22a7f0;
    }
}
