.what-we-do-section {


    &__head {
        text-align: left;
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
    }

    &__form {
        padding: 13px 0;
        font-size: 14px;
        line-height: 24px;
        width: 500px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border: 2px solid #eeeeee;
        outline: none;
        position: relative;
    }

    &__form--1 {
        padding: 14px 10px;
        font-size: 16px;
        line-height: 24px;
        width: 500px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border: 2px solid #eeeeee;
        outline: none;
        position: relative;
    }
}
.alining-left {
    text-align: left;
}

.accordion--button {
    //padding: 15px 20px;
    cursor: pointer;
    color: #4b4b4b;
    position: absolute;
    left: 26px;
}
.accordion-main-text {
    color: #4b4b4b;
    font-size: 16px;
    text-transform: none;
    margin-left: 60px;
}

.ui-accordion .ui-accordion-header {
    margin: 10px 0 0 0;
}
.ui-state-active {
    border: 1px solid #22a7f0;
    background: #22a7f0;
}