.what-we-do-section {


    &__head {
        text-align: left;
        margin-left: 15px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
    }

    &__form {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 24px;
        width: 500px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        border: 1px solid #eeeeee;
        outline: none;
        position: relative;
    }
}
.alining-left {
    text-align: left;
    margin-left: 5px;
}
.accordion--button {
    padding: 15px 20px;
    border: 1px solid #eeeeee;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.accordion--button:hover {
    border-color: #22a7f0;
    background-color: #22a7f0;
    color: #ffffff;

}
.accordion-main-text {
    margin-left: 50px;
}