.who-are-we-section {

    &__who-are-we-pic {
        width: 500px;
        height: 480px;
    }

    &__text-who-are-we {
        text-align: left;
    }
}
.who-are-we-head {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.margin-bottom {
    margin-bottom: 20px;
}