.who-are-we-section {

    &__who-are-we-pic {
        width: 500px;
        height: 480px;
    }

    &__text-who-are-we {
        text-align: left;
    }
}
.who-are-we-head {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}
.who-are-we-btn {
    margin-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #22a7f0;
    outline: none;
    border: 1px solid #22a7f0;
    padding: 10px 20px;
    cursor: pointer;
}
.margin-bottom {
    margin-bottom: 20px;
}